.dropdown:hover .dropdown-menu {
  display: block;
}

.options {
  width: 25px;
  margin-left: 0.8%;
}

.search-bar {
  width: 300px;
  padding-left: 10px;
}

.search-bar-field {
  padding-left: 20px;
}

.navbar-left {
  display: flex;
  width: 50%;
  justify-content: right;
  /* align-self: right; */
}

.image-container {
  background-color: #cdd0d4;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.day-light-img {
  margin: auto;
  margin-top: 9px;
  margin-left: 9px;
}
.bell-icon-img {
  margin-top: 9px;
  margin-left: 9px;
}

.avatar-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.below-header {
  background-color: #754ffe;
  height: 400px;
}

.below-header-1 {
  padding-top: 3%;
  /* border: 1px solid; */
  padding-left: 7%;
  padding-right: 2%;
}

.below-header-1 h2 {
  line-height: 1.2;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 2.5rem;
}

.below-header-1 h5 {
  color: #fff !important;
  font-weight: 500 !important;
}

.below-header-2 {
  width: 100%;
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 7.2%;
}

.below-header-2-bookmark,
.below-header-2-user,
.below-header-2-rating,
.below-header-2-course-level {
  width: auto;
  padding-right: 2%;
}

.below-header-2-bookmark {
  padding-left: 0%;
}

.course-section {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1%;
}

.nav-item {
  border: none;
  font-weight: 500;
}

.nav-item:active {
  border-bottom: 1px solid #754ffe;
}

.course-details {
  margin-bottom: 5%;
  padding-top: 1%;
  border-radius: 4%;
  padding-bottom: 2%;
  box-shadow: 1px 1px 1px 1px rgb(202, 200, 200);
  border: 1px solid rgb(198, 195, 195);
  background-color: white;
}

.nav-item a {
  color: rgb(81, 81, 81);
}

.nav-item a:active,
.nav-item a:focus,
.nav-item a:hover {
  color: #754ffe; /* Active color */
}

#Rating {
  padding-left: 20%;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  font-size: 3.5rem;
  font-weight: 700 !important;
}

.review-bars {
  width: 60%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

.play-icon-container {
  background-color: #f1f5f9;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 1px solid;
}

.play-icon {
  padding-left: 38%;
  padding-top: 20%;
}
.collapse-content {
  align-items: center;
  width: 100%;
  /* border: 1px solid; */
  display: flex;
}

.collapse-content p {
  align-content: center;
  width: 20%;
  border: 1px solid;
  margin: 0;
}

.course-card {
  padding-left: 4%;
  /* padding-right: 2%; */
  margin-top: -80px;
  border-radius: 4%;
  margin-bottom: 5%;
}

.image-container {
  position: relative;
  display: inline-block;
}
.play-button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; /* Adjust size as needed */
  color: #754ffe;
  cursor: pointer;
}

.play-button:hover {
  color: #754ffe;
}

.modal-dialog {
  max-width: 80%;
  height: 100%;
  margin: 1.75rem auto;
}
.embed-responsive-16by9 iframe {
  width: 100%;
  height: 100%;
}

.course-details-card {
  padding-left: 3%;
  padding-right: 2%;
  border-radius: 4%;
  padding-bottom: 3%;
  margin-bottom: 5%;
}

.course-details-card p {
  color: rgb(98, 98, 98);
  font-weight: 400;
  padding-left: 4%;
  margin: 0;
}

.instructor-card-container {
}

.instructor-card {
  padding: 5%;
  margin-bottom: 4%;
  overflow: hidden;
}

.instructor-card-avatar {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.cards-container-1 {
  background-color: #f1f5f9;
}
.course-carousel {
  padding-left: 2.5%;
  padding-bottom: 5%;
  padding-right: 2.5%;
  /* border: 1px solid purple; */
}

.crousel-inner {
  /* border: 5px solid green; */
  margin: 0;
}

.carousel-item {
  /* border: 5px solid green; */
  padding-left: 5%;
  padding-right: 5%;
}

.carousel-style {
  display: flex;
}

.card-container {
  display: flex;
  /* border: 2px solid red; */
  padding-bottom: 2%;
  justify-content: center;
  justify-items: center;
}

.card-style {
  display: flex;
  border-radius: 5%;
  width: 100%;
  padding-bottom: 5%;
}

.card-image-style {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.avatar-card {
  width: 30%;
  height: 100%;
  border-radius: 50%;
}

.carousel-inner {
  width: 2rem;
  border: 3px yellow;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(215, 212, 212);
  border-radius: 50%;
}

.coursel-control-prev-icon:hover {
  background-color: #754ffe;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  display: flex;
  width: 4rem;
  /* height: 3rem;  */
  transform: translateY(-50);
  justify-content: center;
  align-items: center;
  border: 10px blue;
  text-decoration: none;
  border-radius: 50%;
  background-size: 100%, 100%;
}

.carousel-control-next {
  right: 3rem;
}

.carousel-control-prev {
  left: 3rem;
}

.footer {
  display: flex;
}

.footer-2 {
  justify-content: end;
  display: flex;
  justify-items: right;
  color: rgb(55, 55, 55);
  padding-right: 3%;
}

.footer-link {
  color: rgb(55, 55, 55);
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
}

.footer-link:hover {
  color: #754ffe;
}

@media screen and (max-width: 992px) {
  .below-header-1 h2 {
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 20%;
  }
  .below-header-1 h5 {
    padding-left: 8%;
    padding-right: 12%;
    /* border: 1px solid; */
  }

  .below-header-2 {
    padding-left: 15%;
  }

  .course-section {
    padding-left: 15%;
    padding-right: 15%;
  }

  .course-card {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .below-header-2-course-level {
    display: none;
  }
  .rating-percentage{
    padding-left: 10%;
  }
  .review-bars {
    width: 100%;
    padding-left: 20%;
    padding-right: 2%;
    padding-top: 2%;
  }
}

@media screen and (max-width: 578px) {
  .below-header-1 {
    padding-top: 0%;
    padding-left: 0;
  }

  .below-header-1 h2 {
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 2%;
  }
  .below-header-1 h5 {
    padding-left: 4%;
    padding-right: 2%;
  }

  .below-header-2 {
    padding-left: 4%;
    border: 1px solid;
  }

  .course-details {
    padding-left: 4%;
  }

  .course-section {
    padding-left: 4%;
    padding-right: 4%;
  }
  #Rating {
    padding-left: 20%;
    letter-spacing: -0.05rem;
    line-height: 1.2;
    font-size: 3.5rem;
    font-weight: 700 !important;
  }

  .review-bars {
    width: 100%;
    padding-left: 20%;
    padding-right: 2%;
    padding-top: 2%;
  }
}
